<div class="comment">
	<div class="comment-content">{{comments.comment}}</div>
	<div class="comment-bottom">
		<hr />
		<div class="comment-name">{{comments.user.name}}</div>
		<div class="comment-created">{{comments.date_created}}</div>
	</div>
</div>