{{! Dashboard Comments  }}

<div class="dashboard-comment">

	<div class="dashboard-comment-date">
		{{date_created}}
	</div>

	<div class="comment-second-side">

		<div class="dashboard-comment-content">
			{{comment}}
		</div>
		<div class="dashboard-comment-post" value="{{post.id}}">
			Post:
			<a class="dashboard-comment-title" href="">{{post.title}}
			</a>
		</div>

	</div>

</div>