{{! Dashboard Post  }}

<div class="dashboard-post">
	<div class="dashboard-post-date">
		{{date_created}}
	</div>
	<div class="second-side">
		<div class="dashboard-post-title">
			{{title}}
		</div>
		<div class="dashboard-post-content">
			{{content}}
		</div>
	</div>
</div>