{{! Dashboard Comments  }}

<div class="dashboard-comment">

	<div class="dashboard-comment-date">
		{{date_created}}
	</div>

	<div class="second-side">

		<div class="dashboard-comment-content">
			{{comment}}
		</div>
		<div class="dashboard-comment-post">
			Post:
			<span class="dashboard-comment-title" value="{{post.id}}">{{post.title}}
			</span>
		</div>

	</div>

</div>