<div class="post">

	{{! Post Content  }}
	<div class="post-title">{{title}}</div>
	<div class="post-content">{{content}}</div>

	{{! bottom half  }}
	<div class="post-bottom">
		{{! Post user  }}
		<div class="post-user-sec">-
			<span class="post-user">{{username_id}}</span>
			<br />
			<span class="post-created">{{date_created}}</span>
		</div>
	</div>
</div>