{{! 404 Page  }}

<div class="page not-found">

	<div class="container">

		<div class="not-found-top">
			<h1 class="neonText">
				404
			</h1>
			<h2 class="neonText">Page Not Found</h2>
		</div>

		<div class="not-found-bottom">

			<p>Lets take you back!</p>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/dashboard">Dashboard</a>
				</li>
			</ul>
		</div>

	</div>
</div>