<div class="page dashboard">
	<div class="container">
		<h1>Dashboard</h1>
		<p class="dash-sub">Welcome! What's on your mind <span id="dashboardUsername">{{userName}}</span>?</p>

		<hr />

		<h2>Create Post</h2>

		{{! Creating a new Post  }}

		<form action="/api/post" method="post" class="container-sub">
			{{! Title  }}
			<label for="post title">Title:</label>
			<input
				placeholder="Post Title..."
				type="text"
				class="dashboard-post-create-title"
				name="title"
			/>
			{{! Content  }}
			<label for="post message">Message:</label>
			<textarea
				class="dashboard-post-create-content"
				type="text"
				placeholder="Message..."
				name="content"
				maxlength="480"
			></textarea>
			{{! Submit Button  }}
			<input 
			type="submit" 
			id="createPostBtn" 
			value="Submit!" 
			class="btn" />
		</form>

		<hr />

		<h2>Your Posts</h2>

		<div class="container-sub">

			{{! Dashboard Cards  }}
			{{#each posts as |post|}}
				{{> dashCard}}
			{{/each}}

		</div>

		<hr />

		<div class="dashboard-comment-section">
			<h2>Your Comments</h2>

		<div class="dashboard-comment-section-container">
				{{#if comments}}
				<div class="container-sub"></div>
				{{else}}
				<p class="dashboard-no-comment-message">You have no comments yet</p>
				{{/if}}
			</div>
		</div>
	</div>
</div>