<div class="dashboard">
	<div class="container">
		<h1>Dashboard</h1>

		<hr />

		<h2>Create Post</h2>
		<p>Welcome! Wanna create a post?</p>

		{{! Creating a new Post  }}

		<form class="container-sub">
			{{! Title  }}
			<label for="post title">Title:</label>
			<input
				placeholder="Post Title..."
				type="text"
				class="dashboard-post-create-title"
			/>
			{{! Content  }}
			<label for="post message">Message:</label>
			<textarea
				class="dashboard-post-create-content"
				type="text"
				placeholder="Message..."
			></textarea>
			{{! Submit Button  }}
			<input type="submit" id="createPostBtn" value="Submit!" />
		</form>

		<hr />

		<h2>Your Posts</h2>
		<p>Everything you've shared!</p>

		<div class="container-sub">

			{{! Post  }}
			<div class="dashboard-post">
				<div class="dashboard-post-date">
					01/01/1001
				</div>
				<div class="second-side">
					<div class="dashboard-post-title">Hello</div>
					<div class="dashboard-post-content">Lorem ipsum dolor, sit amet
						consectetur adipisicing elit. Excepturi voluptatibus expedita optio
						incidunt porro minima quis! Facilis possimus dolor rerum rem ullam
						eius tenetur numquam? Voluptatibus at ipsam iste iure?</div>
				</div>
			</div>
			<div class="dashboard-post">
				<div class="dashboard-post-date">
					01/01/1001
				</div>
				<div class="second-side">
					<div class="dashboard-post-title">Hello</div>
					<div class="dashboard-post-content">Lorem ipsum dolor, sit amet
						consectetur adipisicing elit. Excepturi voluptatibus expedita optio
						incidunt porro minima quis! Facilis possimus dolor rerum rem ullam
						eius tenetur numquam? Voluptatibus at ipsam iste iure?</div>
				</div>
			</div>
			<div class="dashboard-post">
				<div class="dashboard-post-date">
					01/01/1001
				</div>
				<div class="second-side">
					<div class="dashboard-post-title">Hello</div>
					<div class="dashboard-post-content">Lorem ipsum dolor, sit amet
						consectetur adipisicing elit. Excepturi voluptatibus expedita optio
						incidunt porro minima quis! Facilis possimus dolor rerum rem ullam
						eius tenetur numquam? Voluptatibus at ipsam iste iure?</div>
				</div>
			</div>
			<div class="dashboard-post">
				<div class="dashboard-post-date">
					01/01/1001
				</div>
				<div class="second-side">
					<div class="dashboard-post-title">Hello</div>
					<div class="dashboard-post-content">Lorem ipsum dolor, sit amet
						consectetur adipisicing elit. Excepturi voluptatibus expedita optio
						incidunt porro minima quis! Facilis possimus dolor rerum rem ullam
						eius tenetur numquam? Voluptatibus at ipsam iste iure?</div>
				</div>
			</div>
			<div class="dashboard-post">
				<div class="dashboard-post-date">
					01/01/1001
				</div>
				<div class="second-side">
					<div class="dashboard-post-title">Hello</div>
					<div class="dashboard-post-content">Lorem ipsum dolor, sit amet
						consectetur adipisicing elit. Excepturi voluptatibus expedita optio
						incidunt porro minima quis! Facilis possimus dolor rerum rem ullam
						eius tenetur numquam? Voluptatibus at ipsam iste iure?</div>
				</div>
			</div>

		</div>

	</div>
</div>