<div class="home">
	<div class="container">
		<h2>Home</h2>
		<p>Live Posts:</p>
		<div class="container-home-post">

			{{! A Post  }}
			<div class="post">

				{{! Post Content  }}
				<div class="post-title">TDG</div>
				<div class="post-content">Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Ipsa vel voluptas eos voluptatum odio. Repudiandae
					ad id in quisquam earum! Cupiditate perspiciatis cum nulla velit
					explicabo, itaque vel. Pariatur, numquam.</div>

				{{! bottom half  }}
				<div class="post-bottom">
					{{! Post user  }}
					<div class="post-user-sec">-
						<span class="post-user">Nate</span>
						<br />
						<span class="post-created">Aug 10</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>