<div class="container">
	<div class="container-home-post">

		{{! A Post  }}
		<div class="post">

			{{! Post Content  }}
			<div class="post-title"></div>
			<div class="post-content"></div>

			{{! bottom half  }}
			<div class="post-bottom">
				{{! Post user  }}
				<div class="post-user-sec">By:
					<div class="post-user">Nate</div>
				</div>
				{{! Post Creation  }}
				<div class="post-created-sec">Created on:
					<div class="post created">Aug 10</div>
				</div>
			</div>
		</div>

	</div>
</div>