<div class="home">
	<div class="container">
		<h2>Home</h2>
		<p>Live Posts:</p>
		<div class="container-home-post">

			{{#each posts as |post|}}
				{{!-- {{> postCard}} --}}
				{{> postCard}}
			{{/each}}

		</div>
	</div>
</div>