<div class="page home">
	<div class="container">

		{{!-- If they are logged in, show name and give user ID value as attribute  --}}
		{{#if loggedIn}}
			<h1 class="home-hello-user" value="{{userId}}" >Hello, {{userName}}!</h1>
		{{else}}
			<h1>Home</h1>
		{{/if}}
		<p>Live Posts:</p>
		<hr>
		<div class="container-sub">

			<div class="home-container-picked">

				<a href="/" class="phone-comment-x">&larr; Go Back</a>

				<div class="post phone-picked">
					{{! Post Content  }}
					<div class="post-title picked-pt">Title</div>
					<div class="post-content picked-pc">this is where the content is going to go, only testing rn</div>
					{{! bottom half  }}
					<div class="post-bottom">
						{{! Post user  }}
						<div class="post-user-sec">-
							<span class="post-user picked-pu">bob</span>
							<br />
							<span class="post-created picked-pcr">Aug 1</span>
						</div>
					</div>
				</div>

				<div class="phone-comment-section">
						<div class="post-container-comment-top">
							<h3>Comments:</h3>
						</div>
						<div class="comment-sub-text-mv">
							No comments yet...
						</div>

					<div class="phone-comment-container">
						<div class="preloader-mv"></div>

						{{!-- phone comment  --}}

					</div>
				</div>

			</div>

			<div class="home-container-posts">

			{{!-- Home Page Cards  --}}

				{{#each posts as |post|}}
					{{> postCard}}
				{{/each}}

			</div>

			{{!-- Comments Section --}}
			<div class="post-container-comments">
				<div class="post-container-comment-top">
					<h3>Comments:</h3>
					<div class="x"></div>
				</div>
					<hr>

					<div class="post-container-add-comment">
						<h4>Add a comment!</h4>
						<textarea 
						type="text"
						placeholder="This is awesome..."
						name="deskComment" 
						id="deskComment" 
						maxlength="375"
						required
						></textarea>
						<button id="deskCommentBtn">Send</button>
						<hr class="add-comment-underline"></hr>
						</div>
				
				<div class="comment-sub-text">
					No comments yet...
				</div>
				<div class="container-comments">
					<div class="preloader"></div>

				{{!-- Comment  --}}

				</div>
			</div>
	
		</div>
	</div>
</div>

{{!-- Scripts For Home Page  --}}

<script src="/js/posts_comments/initCalls.js"></script>
<script src="/js/posts_comments/commentCalls.js"></script>
<script src="/js/posts_comments/screenSizeAdjust.js"></script>
<script src="/js/posts_comments/mobileCommentCalls.js"></script>