<div class="page home">
	<div class="container">
		{{#if loggedIn}}
			<h1>Hello, {{userName}}!</h1>
		{{else}}
			<h1>Home</h1>
		{{/if}}
		<p>Live Posts:</p>
		<hr>
		<div class="container-sub">

			<div class="home-container-picked">

				<a href="/">X</a>

				<div class="post phone-picked">
					{{! Post Content  }}
					<div class="post-title picked-pt">Title</div>
					<div class="post-content picked-pc">this is where the content is going to go, only testing rn</div>
					{{! bottom half  }}
					<div class="post-bottom">
						{{! Post user  }}
						<div class="post-user-sec">-
							<span class="post-user picked-pu">bob</span>
							<br />
							<span class="post-created picked-pcr">Aug 1</span>
						</div>
					</div>
				</div>

				<div class="phone-comment-section">
						<div class="post-container-comment-top">
							<h3>Comments:</h3>
						</div>
						<div class="comment-sub-text-mv">
							No comments yet...
						</div>

					<div class="phone-comment-container">
						<div class="preloader-mv"></div>

						{{!-- phone comment  --}}

						{{!-- <div class="phone-comment">
							<div class="phone-comment-content">fdsa  jkl ds fjsdklafjsdf dsklajf;s ff ds fa</div>
							<div class="phone-comment-bottom">
								<hr>
								<div class="phone-comment-name">Nate</div>
								<div class="phone-comment-date">Sept 8</div>
							</div>
						</div> --}}

					</div>
				</div>

			</div>

			<div class="home-container-posts">

			{{!-- <div class="post picked">
				{{! Post Content  }}
				<div class="post-title">Title</div>
				<div class="post-content">this is where the content is going to go, only testing rn</div>
				{{! bottom half  }}
				<div class="post-bottom">
					{{! Post user  }}
					<div class="post-user-sec">-
						<span class="post-user">bob</span>
						<br />
						<span class="post-created">Aug 1</span>
					</div>
				</div>
			</div> --}}

			{{!-- Home Page Cards  --}}

				{{#each posts as |post|}}
					{{> postCard}}
				{{/each}}

		</div>

			{{!-- Comments Section --}}
			<div class="post-container-comments">
				<div class="post-container-comment-top">
					<h3>Comments:</h3>
					<div class="x"></div>
				</div>
				<div class="comment-sub-text">
					No comments yet...
				</div>
				<div class="container-comments">
					<div class="preloader"></div>
				{{!-- Comment  --}}

				{{!-- <div class="comment">
						<div class="comment-content">This is a great post, this is a test</div>
						<div class="comment-bottom">
							<hr>
								<div class="comment-name">Nate</div>
								<div class="comment-created">Aug 2</div>
						</div>
				</div> --}}

				{{!-- {{#each posts as |post|}}
					{{> comment}}
				{{/each}} --}}
			</div>


	</div>
	
</div>