<div class="page home">
	<div class="container">
		<h1>Home</h1>
		<p>Live Posts:</p>
		<hr>
		<div class="container-sub">

			{{!-- Home Page Cards  --}}
			{{#each posts as |post|}}
				{{> postCard}}
			{{/each}}

		</div>
	</div>
</div>