<div class="page sign-up">
	<div class="container">
		<h1>Tech Blog</h1>

		<hr />
		<h2>Create account</h2>
		<p>Hey there!</p>

		{{! form  }}

		<form class="container-sub">
			{{! Name  }}
			<label for="name">Name:</label>
			<input
				type="text"
				class="signUp-form-name"
				placeholder="Clementine"
				name="name"
			/>
			{{! Email  }}
			<label for="email">Email:</label>
			<input
				type="email"
				class="signUp-form-email"
				placeholder="clem@gmail.com"
				name="email"
			/>
			{{! Password  }}
			<label for="password">Password:</label>
			<input
				type="password"
				class="signUp-form-password"
				placeholder="Enter Password..."
				name="password"
			/>
			{{! Send Button }}
			<input type="submit" id="signUpFormSubmit" value="Sign Up!" class="btn" />
		</form>
	</div>
</div>

<script src="/js/sign_up/signUp.js"></script>
<script src="/js/sign_up/signUpCheckers.js"></script>