<div class="page success">
	<div class="container">
		<h1>Successful!</h1>

		<hr />
		<h2>You're Set!</h2>
		<p>Where would you like to go?</p>

		<ul class="success-container">
			<li class="success-item">
				<a href="/">Home</a>
			</li>
			<li class="success-item">
				<a href="/dashboard">Dashboard</a>
			</li>

		</ul>
	</div>
</div>