/* Home Page Styles  */

.home {
	background-image: url("../assets/polygon-sea.svg");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.home .container-sub {
	background-color: transparent;
}

.home .home-container-posts {
	background-color: var(--sub-dark-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	border-radius: 8px;
	margin: 2rem 0;
}

/* Post Styles  */

.post {
	display: flex;
	flex-direction: column;
	background-color: var(--shaded-clr);
	padding: 0.5rem;
	margin: 0.8rem;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 95%;
	min-height: 200px;
	transition: all 300ms ease;
}

.post:hover {
	background-color: var(--shaded-clr-hover);
	transform: translate(-2px, -3px);
	cursor: pointer;
}

.post-title {
	pointer-events: none;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 1px solid var(--shaded-clr);
}

.post-content {
	pointer-events: none;
	margin: 0.5rem;
}

.post-bottom {
	pointer-events: none;
	border-top: 1px solid var(--shaded-clr);
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.5rem;
}

/* Comment Styles  */

.comment {
	background-color: var(--shaded-clr);
	border: 1px solid var(--light-clr);
	width: 100%;
	border-radius: 8px;
	transition: all 300ms ease;
	padding: 1rem;
	margin-bottom: 1rem;
}

.comment:hover {
	background-color: var(--dark-clr);
	border: 1px solid var(--accent-clr-hover);
	transform: translate(-1.5px, -2.3px);
}

.comment hr {
	background-color: white;
	width: 18%;
	height: 0.5px;
}

/* Desktop Version for Homepage  */

@media screen and (min-width: 980px) {
	/* home container  */

	.home .container-sub {
		flex-direction: row;
		gap: 1rem;
	}

	/* post container  */

	.home .home-container-posts {
		flex-direction: row;
		flex-wrap: wrap;
		/* width: 65%; */
	}

	/* Post  */

	.post {
		width: 45%;
		margin: 0.5rem;
		min-height: 240px;
		text-align: start;
		align-items: flex-start;
	}

	.post-title {
		width: 100%;
	}

	.post-bottom {
		width: 100%;
	}

	/* comments  */

	.post-container-comments {
		display: none;
		background-color: var(--sub-dark-bg);
		width: 38%;
		height: 100%;
		justify-self: start;
		align-self: flex-start;
		padding: 1.5rem 1rem;
		border-radius: 8px;
		margin: 2rem 0;
		animation: all 300ms ease;
	}
}

.picked {
	width: 91%;
	border: 1px solid var(--light-clr);
}
