.picked {
	width: 95%;
}

.home-container-picked {
	background-color: var(--sub-dark-bg);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.3rem 0.5rem;
	border-radius: 8px;
	margin: 2rem 0;
	width: 100%;
	gap: 2rem;
}

.phone-picked {
	display: flex;
	flex-direction: column;
	background-color: var(--shaded-clr);
	padding: 0.5rem;
	margin: 0.8rem auto;
	width: 95%;
	border: 1px solid var(--light-clr);
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 275px;
	align-self: center;
	justify-self: center;
	transition: all 300ms ease;
	z-index: 10;
}

.phone-comment-section {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
}

.phone-comment-section .post-container-comment-top {
	margin-bottom: 1.5rem;
}

.phone-comment-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.phone-comment {
	padding: 1rem;
	border-radius: 8px;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--shaded-clr);
	margin-bottom: 0.8rem;
	font-size: 1.3rem;
	transition: all 200ms ease;
}

.phone-comment:hover {
	background-color: var(--dark-clr);
	border: 1px solid var(--accent-clr-hover);
	transform: translate(-1.5px, -2.3px);
}

.phone-comment-content {
	margin: 0.8rem 0;
}

.phone-comment-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	width: 100%;
}

.phone-comment hr {
	width: 90%;
}

/* mobile version preloaders  */

.preloader-mv {
	display: block;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid var(--accent-clr-hover);
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	margin: 1rem;
}

.comment-sub-text-mv {
	display: none;
}

.home-container-picked a {
	font-size: 1.4rem;
	text-align: center;
	color: var(--sub-clr);
	padding: 0.8rem;
	border-radius: 4px;
}

.home-container-picked a:hover {
	text-decoration: none;
	cursor: pointer;
	color: var(--sub-clr-hover);
}
