/* Open Sans Font  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* Root Variables  */

:root {
	--sub-clr: #184f68;
	--sub-clr-hover: #277599;
	--light-clr: #fff;
	--dark-clr: #1f1f1f;
	--sub-dark-bg: rgba(0, 0, 0, 0.736);
	--shaded-clr: rgba(135, 135, 135, 0.238);
	--shaded-clr-hover: rgba(130, 130, 130, 0.335);
}

/* Universal Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Reseting Global HTML Tags  */

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	background-color: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	font-weight: bold;
	margin: 1rem 0;
}

/* header Tags Sizes and Margins  */

h1 {
	font-size: 3.3rem;
	margin: 2.5rem 0;
}

h2 {
	font-size: 2rem;
	margin: 1.3rem 0;
}

h3 {
	font-size: 1.75rem;
	margin: 1rem 0;
}

div,
p,
span,
em,
i {
	color: var(--light-clr);
}

hr {
	background-color: white;
}

/* Conatiners  */

.container {
	max-width: 1160px;
}

.container-sub {
	background-color: var(--sub-dark-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	border-radius: 8px;
	margin: 2rem 0;
}
