/* Core Styles  */

/* Open Sans Font  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* Root Variables  */

:root {
	/* main  */
	--sub-clr: #184f68;
	--sub-clr-hover: #277599;
	--accent-clr: rgb(255, 28, 202);
	--accent-clr-hover: rgb(255, 92, 217);
	/* contrasts  */
	--light-clr: #fff;
	--dark-clr: #1f1f1f;
	/* subs/transparents  */
	--sub-dark-bg: rgba(0, 0, 0, 0.736);
	--shaded-clr: rgba(135, 135, 135, 0.238);
	--shaded-clr-hover: rgba(130, 130, 130, 0.335);
}

/* Universal Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Reseting Global HTML Tags  */

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	background-color: #151515;
}

/* headers  */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	font-weight: bold;
	margin: 1rem 0;
}

/* lists  */

ul {
	list-style: none;
}

ul li {
	list-style: none;
	text-decoration: none;
}

/* header Tags Sizes and Margins  */

h1 {
	font-size: 2.75rem;
	margin: 2.5rem 0;
}

h2 {
	font-size: 2rem;
	margin: 1.3rem 0;
}

h3 {
	font-size: 1.75rem;
	margin: 1rem 0;
}

/* All elements  */

div,
p,
span,
em,
i {
	color: var(--light-clr);
}

hr {
	padding: 1px;
	background-color: var(--accent-clr);
}

/* forms  */

label {
	font-size: 1.2rem;
}

input {
	background-color: var(--shaded-clr);
	padding: 0.5rem;
	margin-bottom: 1rem;
	width: 80%;
	outline: none;
	border: none;
	border-radius: 4px;
	color: var(--light-clr);
}

input:focus {
	background-color: var(--shaded-clr-hover);
}

/* Extra Global Classes  */

.container {
	max-width: 1160px;
}

.container-sub {
	background-color: var(--sub-dark-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	border-radius: 8px;
	margin: 2rem 0;
}

.page {
	padding-top: 5.2rem;
	width: 100%;
	min-height: 100%;
	text-align: center;
}

.btn {
	margin-top: 0.4rem;
	transition: all 300ms ease;
}

.btn:hover {
	cursor: pointer;
}

/* fixing alignment for Desktop Version  */

@media screen and (min-width: 980px) {
	/* headers  */

	h1 {
		font-size: 3.5rem;
		margin: 2.8rem 0;
	}

	h2 {
		font-size: 2.5rem;
		margin: 1.8rem 0;
	}

	h3 {
		font-size: 2.3rem;
		margin: 1.4rem 0;
	}

	/* Globals  */

	.page {
		text-align: start;
	}

	.btn {
		width: 45%;
	}
}
