/* Dashboard post page  */

.page .post-page {
	height: auto;
}

.post-page-selected-title {
	color: var(--sub-clr-hover);
}

.post-page-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	border-radius: 8px;
	min-height: 175px;
	border: 1px solid #fff;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1.3rem var(--sub-clr-hover),
		0 0 0.2rem var(--sub-clr-hover), 0 0 2.2rem var(--sub-clr-hover),
		inset 0 0 1.3rem var(--sub-clr-hover);
	animation: sub-flicker 2s infinite alternate;
	margin: 4rem 0;
}

.post-page-post-content {
	font-size: 1.3rem;
	padding: 1rem;
}

.post-page-post-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgb(167, 167, 167);
	width: 75%;
	padding: 1rem 0;
	gap: 0.8rem;
	font-size: 1.2rem;
}

.post-page-post-date {
	color: rgb(167, 167, 167);
}

/* Comments  */

.post-page-post-comment {
	background-color: var(--shaded-clr);
	border: 3px solid var(--shaded-clr-hover);
	width: 100%;
	border-radius: 8px;
	transition: all 200ms ease;
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.post-page-post-comment:hover {
	cursor: pointer;
	background-color: var(--dark-clr);
	border: 3px solid var(--accent-clr-hover);
	transform: translate(-1.5px, -2.3px);
}

.post-page-post-comment-date {
	color: rgb(167, 167, 167);
}

.post-page-no-comments {
	font-size: 1.2rem;
}

/* Desktop  */

@media screen and (min-width: 980px) {
	.page .post-page {
		height: auto;
	}

	.post-page-post {
		flex-direction: row;
		min-height: 200px;
	}

	.post-page-post-content {
		font-size: 1.5rem;
		padding: 1.2rem;
		width: 65%;
	}

	.post-page-post-right {
		border-top: none;
		border-left: 1px solid rgb(167, 167, 167);
		width: 30%;
		gap: 1rem;
		font-size: 1.5rem;
	}

	/* Comments  */

	.post-page .container-sub {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.post-page-post-comment {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 45%;
		min-height: 250px;
		max-height: 270px;
		margin: 0.5rem;
	}

	.post-page-post-comment hr {
		width: 60%;
	}

	.post-page-no-comments {
		font-size: 1.4rem;
	}
}

/* @keyframes sub-flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
			0 0 1.3rem var(--sub-clr-hover), 0 0 0.2rem var(--sub-clr-hover),
			0 0 2.2rem var(--sub-clr-hover), inset 0 0 1.3rem var(--sub-clr-hover);
	}

	24%,
	55% {
		box-shadow: none;
	}
} */
