/* Dashboard Styles  */

.dashboard {
	background-image: url("../../assets/polygon-scatter-haikei.svg");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.dash-sub {
	font-size: 1.1rem;
}

#dashboardUsername {
	font-weight: bold;
}

/* Form Section  */

.dashboard form {
	margin: 2.8rem 0 4rem 0;
}

.dashboard-post-create-content {
	background-color: var(--shaded-clr);
	padding: 0.5rem;
	margin-bottom: 1rem;
	width: 80%;
	outline: none;
	border: none;
	border-radius: 4px;
	min-height: 6rem;
	max-height: auto;
	resize: none;
	color: var(--light-clr);
}

.dashboard-post-create-content:focus {
	background-color: var(--shaded-clr-hover);
}

#createPostBtn {
	background-color: var(--sub-clr);
	color: var(--light-clr);
}

#createPostBtn:hover {
	background-color: var(--sub-clr-hover);
}

/* Post */

.dashboard-post {
	background-color: var(--shaded-clr);
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
	margin: 0.8rem;
	width: 80%;
	transition: all 300ms ease;
	position: relative;
}

.dashboard-post i {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 10;
	font-size: 1.6rem;
	color: rgb(167, 167, 167);
	transition: all 400ms ease;
}

.dashboard-post i:hover {
	cursor: pointer;
	color: var(--sub-clr-hover);
}

.dashboard-post::after {
	content: "";
}

.dashboard-post:hover {
	background-color: var(--shaded-clr-hover);
	transform: translate(-2px, -3px);
}

.dashboard-post a {
	font-size: 1rem;
	color: rgb(167, 167, 167);
	border-bottom: 1px solid rgb(167, 167, 167);
	text-decoration: none;
}

.dashboard-post a:hover {
	color: var(--sub-clr-hover);
	border-bottom: 1px solid var(--sub-clr-hover);
}

.dashboard-post-date {
	background-color: var(--sub-clr);
	padding: 0.8rem;
}

.second-side {
	text-align: center;
	padding: 0.9rem 0.5rem;
}

.dashboard-post-title {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0.5rem 0;
}

.dashboard-post-content {
	padding: 0.5rem;
	margin-bottom: 0.6rem;
}

/* Dashboard Comments Section */

.dashboard-comment-section {
	padding: 1.8rem;
	min-height: 25%;
	width: 100%;
}

.dashboard-comment-section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dashboard-no-comment-message {
	background-color: var(--shaded-clr);
	padding: 1rem;
	width: 80%;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 8px;
	justify-self: center;
	margin: 0;
}

/* Desktop Version  */

@media screen and (min-width: 980px) {
	.page .dashboard {
		min-height: 100%;
		height: auto;
	}
	/* header  */
	.dashboard h1 {
		margin: 2.8rem 0 1.2rem 0;
	}

	.dash-sub {
		font-size: 1.3rem;
	}

	/* dash container  */

	.dashboard .container-sub {
		margin: 2.8rem 0;
	}

	/* form  */

	.dashboard-post {
		flex-direction: row;
		width: 75%;
		min-height: 200px;
		gap: 5%;
	}

	.second-side {
		width: 75%;
		height: 100%;
		align-self: center;
		text-align: start;
	}

	.dashboard-post-date {
		text-align: center;
		padding: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dashboard-post-content {
		padding: 0;
	}

	/* Comment Section  */

	.dashboard-comment-section {
		padding: 1rem;
		min-height: 30%;
	}

	.dashboard-comment-section-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.dashboard-no-comment-message {
		margin: 2.5rem;
		font-size: 1.4rem;
	}
}
